<% icons = [
  '<i class="fa-solid fa-futbol"></i>',
  '<i class="fa-solid fa-guitar"></i>',
  '<i class="fa-solid fa-house"></i>',
  '<i class="fa-solid fa-champagne-glasses"></i>',
  '<i class="fa-solid fa-car-side"></i>',
  '<i class="fa-solid fa-cross"></i>'
] %>

<div class="filter-container" data-controller="filter-highlight">

  <div class="filter-opt">
    <div class="">
      <%= link_to friends_path, class: "filter-btn" do %>
        <i class="fa-solid fa-globe"></i>
        <p>All Friends</p>
        <hr>
      <% end %>
    </div>
  </div>

  <div class="filter-opt">
    <%= form_with url: friends_path, method: :get do %>
      <%= text_field_tag :trending,
        params[:trending],
        value: "top20",
        class: 'd-none'
      %>
      <div class="">
        <%= button_tag :submit, class: "filter-btn" do %>
          <i class="fa-solid fa-brands fa-hotjar"></i>
          <%= "Trending" %>
          <hr>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="filter-opt">
    <%= form_with url: friends_path, method: :get do %>
      <%= text_field_tag :new,
        params[:new],
        value: "new20",
        class: 'd-none'
      %>
      <div class="">
        <%= button_tag :submit, class: "filter-btn" do %>
          <i class="fa-solid fa-id-badge"></i>
          <%= "New Joiners" %>
          <hr>
        <% end %>
      </div>
    <% end %>
  </div>

  <% i = 0 %>
  <% Friend::CATEGORIES.each do |category| %>
    <div class="filter-opt">
      <%= form_with url: friends_path, method: :get do %>
        <%= text_field_tag :categories,
          params[:categories],
          value: category,
          class: 'd-none'
        %>
        <div class="">
          <%= button_tag :submit, class: "filter-btn" do %>
            <%= sanitize icons[i] %>
            <% i += 1 %>
            <%= category %>
            <hr>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
