<div class="body-space">

  <%# <h1 class="index_title">Available Friends</h1> %>

  <div class="body-container">
    <%= render 'filterbar' %>
  </div>

  <div class="container d-none">
    <h1>Show map</h1>
    <div style="width: 100%; height: 300px;" class="mappy" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <div class="body-container">

    <div class="cards" data-controller="friends-photos-slideshow">
      <% @friends.each do |f| %>

        <div class="card-friends" data-photo-slideshow>

          <div class="fav-container">

            <% if user_signed_in? %>

              <% if current_user.favourites.where(friend_id:f).exists? %>
              <% fav = current_user.favourites.where(friend_id:f).first %>

                <% if fav.liked %>
                  <%= form_with url:"/friends/#{f.id}/favourites/#{fav.id}", method: :put do |x| %>
                    <%# class 'btn' is a bootstrap css class %>
                    <div class="fav-icons">
                      <%= button_tag(type: 'submit', class: 'btn') do %>
                        <i class="fa-solid fa-heart fd-fa-heart fa-red"></i>
                      <% end %>
                    </div>
                  <% end %>

                <% else %>
                  <%= form_with url:"/friends/#{f.id}/favourites/#{fav.id}", method: :put do |x| %>
                    <%# class 'btn' is a bootstrap css class %>
                    <div class="fav-icons">
                      <%= button_tag(type: 'submit', class: 'btn') do %>
                        <i class="fa-solid fa-heart fd-fa-heart fa-grey"></i>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>

              <% else %>
                <%= form_with url:"/friends/#{f.id}/favourites", method: :create do |x| %>
                  <%# class 'btn' is a bootstrap css class %>
                  <div class="fav-icons">
                    <%= button_tag(type: 'submit', class: 'btn') do %>
                      <i class="fa-solid fa-heart fd-fa-heart fa-grey"></i>
                    <% end %>
                  </div>
                <% end %>
              <% end %>

            <% else %>
              <div class="fav-icons">
                <%= link_to new_user_session_path do %>
                  <i class="fa-solid fa-heart fd-fa-heart fa-grey"></i>
                <% end %>
              </div>
            <% end %>

          </div>

          <% if f.photos.count > 1 %>
            <div class="photos-btn btn-opacity" data-action="mouseout->friends-photos-slideshow#hideBtn mouseover->friends-photos-slideshow#showBtn" data-friends-photos-slideshow-target="btn">
              <button class="photos-button prev" data-photo-button="prev"><i class="fa-solid fa-angle-left"></i></button>
                <%= link_to "spacer", friend_path(f), class: 'link-spacer' %>
              <button class="photos-button next" data-photo-button="next"><i class="fa-solid fa-angle-right"></i></button>
            </div>
          <% else %>
            <div class="photos-btn">
                <%= link_to "spacer", friend_path(f), class: 'link-spacer' %>
            </div>
          <% end %>

          <%= link_to friend_path(f) do %>

            <% if f.photos.attached? %>
              <div class="friend-pic" data-action="mouseout->friends-photos-slideshow#hideBtn mouseover->friends-photos-slideshow#showBtn">
                <div class="friend-pic-wrapper" data-photo-slides>
                  <% f.photos.each_with_index do |photo, i| %>
                    <% if i == 0 %>
                      <div class="p-slide" data-active>
                    <% else %>
                      <div class="p-slide">
                    <% end %>
                      <%= cl_image_tag photo.key %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>

            <div class="card-friend-single">
              <div class="card-friend-info-l">
                <div class="friend-text">
                  <div class="friend-name"><%= f.first_name %> <%= f.last_name %>, <%= f.categories.capitalize %></div>
                  Total <%= f.bookings.count %> bookings<br>
                  Last active <%= distance_of_time_in_words_to_now(f.updated_at) %> ago<br>
                  <%# f.location.split(',')[0] %>
                </div>
              </div>

              <div class="card-friend-info-r">
                <% if f.rating.nil? %>
                  <div class="friend-star"><i class="fa-regular fa-star"></i> New</div>
                <% else %>
                  <div class="friend-star"><i class="fa-solid fa-star"></i></div><strong><%= f.rating.round(1) %></strong>
                <% end %>
              </div>

            </div>

            <div class="friend-price"><i class="fa-solid fa-sterling-sign"></i><strong><%= f.daily_rate.round(1) %></strong> per day</div>

          <% end %>

        </div>

      <% end %>
    </div>

  </div>

</div>
