<div class="body-space">

  <%# <h1 class="index_title">Available Friends</h1> %>

  <div class="body-container">
    <%= render 'filterbar' %>
  </div>

  <div class="container d-none">
    <h1>Show map</h1>
    <div style="width: 100%; height: 300px;" class="mappy" data-controller="map" data-map-markers-value="<%= @markers.to_json %>" data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <div class="body-container">

    <div class="cards" data-controller="friends-photos-slideshow">
      <% @friends.each do |f| %>

        <%= link_to friend_path(f) do %>
          <div class="card-friends">

            <div class="photos-btn">
              <button class="photos-button prev" data-photo-button="prev"><i class="fa-solid fa-angle-left"></i></button>
              <button class="photos-button next" data-photo-button="next"><i class="fa-solid fa-angle-right"></i></button>
            </div>

            <% if f.photos.attached? %>
              <div class="friend-pic">
                <ul>
                  <% f.photos.each_with_index do |photo, i| %>
                    <% if i == 0 %>
                      <li class="p-slide" data-active>
                    <% else %>
                      <li class="p-slide">
                    <% end %>
                      <%= cl_image_tag photo.key %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="card-friend-single">
              <div class="card-friend-info-l">
                <div class="friend-text">
                  <div class="friend-name"><%= f.first_name %> <%= f.last_name %>, <%= f.categories.capitalize %></div>
                  Total <%= f.bookings.count %> bookings<br>
                  Last active <%= distance_of_time_in_words_to_now(f.updated_at) %> ago<br>
                  <%# f.location.split(',')[0] %>
                </div>
              </div>

              <div class="card-friend-info-r">
                <div class="friend-star"><i class="fa-solid fa-star"></i></div><strong><%= f.rating.round(1) %></strong>
              </div>

            </div>

            <div class="friend-price"><i class="fa-solid fa-sterling-sign"></i><strong><%= f.daily_rate.round(1) %></strong> per day</div>

          </div>

        <% end %>

      <% end %>
    </div>

  </div>

</div>
