<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-1" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= alert %>
  </div>
<% end %>

<div class="flash-container">
  <% if flash.any? %>
      <% flash.each do |type, msg| %>
        <% if msg.class == Array && msg.count > 1 %>
          <% msg.each do |m| %>
            <div class="alert alert-<%= type %>">
              <%= m %>
            </div>
          <% end %>
        <% else %>
          <div class="alert alert-<%= type %>">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
  <% end %>
</div>
