<%# navbar css classes from bootstrap framework %>
<div class="navbar navbar-expand-sm">

  <div class="navbar-container" data-controller="dropdown-search">

    <%# logo %>
    <%= link_to "/", class: "" do %>
      <%= image_tag "Rent A Friend Logo.png", class: "navbar-logo" %>
    <% end %>

    <%# hamburger menu of search field and login btn for small screen from bootstrap framework %>
    <div class="dropdown">
      <button class="navbar-toggler" type="button" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
      </button>

      <% if user_signed_in? %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <div class="dropdown-search dropdown-item" data-action="click->dropdown-search#enable">
            Search A Friend
          </div>

          <%= link_to "Profile", user_path(current_user) , class: "dropdown-item" %>
          <%= link_to "Become a friend", new_friend_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      <% else %>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <%= link_to new_user_session_path, class: "dropdown-item" %>
        </div>
      <% end %>
    </div>

    <div class="dropdown-search-bar" data-dropdown-search-target="bar">
      <%# <div class="dropdown-search-box"> %>
        <%= form_with url: friends_path, method: :get, class: "dropdown-search-box" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "dropdown-search-input",
            placeholder: "Find a friend"
          %>
          <%# <%= submit_tag "Search", class: "search-btn-query" %>
          <%= button_tag :submit do %>
            <i class="dropdown-search-btn-query fas fa-search"></i>
          <% end %>
          <i class="dropdown-cancel fas fa-times" data-action="click->dropdown-search#disable"></i>
        <% end %>
      <%# </div> %>
    </div>

    <%# grouping user-menu and search-field %>
    <%# <div class="navbar-opt"> %>

      <%# search-field %>
      <div class="search-container" data-controller="">
        <%= form_with url: friends_path, method: :get, class: "search-box active" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search-input active",
            placeholder: "Find a friend"
          %>
          <%# <%= submit_tag "Search", class: "search-btn-query" %>
          <div class="search-btn-query">
            <%= button_tag :submit do %>
              <i class="fas fa-search"></i>
            <% end %>
          </div>
        <% end %>
      </div>

      <%# user-menu %>
      <div class="user-menu">

        <div class="user-choice">
          <% if user_signed_in? %>

            <%# user profile pic for existing urser and a default avater for new user %>
            <% if current_user.friends.empty? %>
                <%= image_tag "https://images.unsplash.com/photo-1633536838356-80807d2321d4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8M3x2YjVhQ1RjTVhQUXx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=900&q=60",  class: "avatar", alt: "avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
                <%= cl_image_tag current_user.friends.first.photo.key, class: "avatar", alt: "avatar", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>

            <%# dropdown menu with bootstrap css classes %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", user_path(current_user) , class: "dropdown-item" %>
              <%= link_to "Become a friend", new_friend_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>

          <%# if not a current user then link to sign up page for guest %>
          <% else %>
            <%= link_to new_user_session_path, class: "user-btn" do %>
              <i class="fa-solid fa-user"></i>
            <% end %>
          <% end %>
        </div>

      </div>

    <%# </div> %>

  </div>

</div>
