<div class="home-container">

  <%# render "shared/flashes" %>

  <%# <div class="home-banner">
  </div> %>

  <section aria-label="background-slideshow">
    <div class="carousel" data-controller="landing-page-sliders" data-carousel>
      <div class="carousel-btn">
        <button class="carousel-button prev left" data-carousel-button="prev"><i class="fa-solid fa-angle-left"></i></button>
        <button class="carousel-button next right" data-carousel-button="next"><i class="fa-solid fa-angle-right"></i></button>
      </div>
      <%# <ul data-slides data-controller="video-control" data-action="mouseout->video-control#pause mouseover->video-control#play"> %>
      <ul data-slides data-controller="video-control" data-action="click->video-control#playPause">
        <li class="slide" data-active>
          <%= video_tag "Friends 2.mp4", autoplay: true, loop: true, muted: true, data: { video_control_target: "video" } %>
          <div class="slide-content">
            <p class="slide-headline">Are you looking for a Friend to hang out with you?</p>
            <%= link_to "friends#index", class: "btn btn-start" do %>
              <span>Find a Friend </span>
            <% end %>
          </div>
        </li>
        <li class="slide">
          <%= video_tag "Hiking.mp4", autoplay: true, loop: true, muted: true, data: { video_control_target: "video" } %>
          <%# image_tag "Concert 2.jpg" %>
          <div class="slide-content">
            <p class="slide-headline">Are you looking for a Friend who share the same hobbies with you?</p>
            <%= link_to "friends#index", class: "btn btn-start" do %>
              <span>Find a Friend </span>
            <% end %>
          </div>
        </li>
        <li class="slide">
          <%= video_tag "Selfie.mp4", autoplay: true, loop: true, muted: true, data: { video_control_target: "video" } %>
          <%# image_tag "Mates.jpg" %>
          <div class="slide-content">
            <p class="slide-headline">Move to a new city and want a Friend to show you around a new town?</p>
            <%= link_to "friends#index", class: "btn btn-start" do %>
              <span>Find a Friend </span>
            <% end %>
          </div>
        </li>
        <li class="slide">
          <%= video_tag "Company.mp4", autoplay: true, loop: true, muted: true, data: { video_control_target: "video" } %>
          <%# image_tag "Share Feeling.jpg" %>
          <div class="slide-content">
            <p class="slide-headline">Having a struggle in life and need a company?</p>
            <%= link_to "friends#index", class: "btn btn-start btn-p" do %>
              <span>Find a Friend </span>
            <% end %>
          </div>
        </li>
        <li class="slide">
          <%# image_tag "Become A Friend.jpg" %>
          <%= video_tag "Team.mp4", autoplay: true, loop: true, muted: true, data: { video_control_target: "video" } %>
          <div class="slide-content">
            <p class="slide-headline">Want to join us and Become A Friend?</p>
            <% if user_signed_in? %>
              <%= link_to new_friend_path, class: "btn btn-start btn-p" do %>
                <span>Join Us </span>
              <% end %>
          </div>
          <% else %>
            <%= link_to new_user_session_path, class: "btn btn-start btn-p" do %>
              <span>Sign Up </span>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </section>

</div>
